# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.testing.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Favour .O\RiderProjects\testing\.idea\.idea.testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
